{% extends "base.html" %}

{% block pagetitle %}Error Adjustment{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Error Adjustment
{% endblock %}

{% block content %}
  
<form action="." method="POST">{% csrf_token %}
  <div class="item">
    {{adjust_form.as_ul}}
  </div>
<div id="button"><input class="button" type="submit" value="Adjust"></div>
</form>
{% endblock %}
