<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block pagetitle %}{% endblock %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    {% load static %}
    <link href="{% static "default.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "font.css" %}" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
  
<div id="header">
    <div id="menu" class="container">
        <ul id="nav">
            <li>
	      <a href="#">Stock-in</a>
	      <ul id="n1">
		<li><a href="#">Donation</a></li>
		<li><a href="#">Purchase</a></li>
	      </ul>
	      <ul></ul>
	    </li>
	    
            <li>
	      <a href="#">Stock-out</a>
	      <ul id="n2">
		<li><a href="#">Distribute</a></li>
		<li><a href="#">Transfer</a></li>
	      </ul>
	    </li>
	    
            <li>
	      <a href="#">Donor</a>
	      <ul id="n3">
	      </ul>
	    </li>
	    	      
            <li>
	      <a href="#">Inventory</a>
	      <ul id="n4">
	      </ul>
	    </li>
	    
            <li>
	      <a href="#">Report</a>
	      <ul id="n5">
	      </ul>
	    </li>
        </ul>
    </div>
</div>

<div id="page" class="container">

  <div id="content">
    <div class="title">
      <h2>{% block title %}{% endblock %}</h2>
      <span class="byline">{% block byline %}{% endblock %}</span>
    </div>
    <p>{% block content %}{% endblock %}</p>
  </div>

  {% block footer %}{% endblock %}
</div>



<div id="copyright" class="container">
	<p>Copyright (c) 2013 D&Liz&MX et al. All rights reserved. | Designed by Derek </a>.</p>
</div>

  </body>
</html>


