<!DOCTYPE html>
<html>
  <head>
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% endblock %}
    <title>{% block pagetitle %}{% endblock %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    {% load static %}
    <link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "css/newstyle.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "css/jquery-ui-1.10.3.custom.css" %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{% static "js/jquery-1.10.2.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui-1.10.3.custom.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dynamic_formset.js" %}" type="text/javascript"></script>
    {% block autocomplete %}{% endblock %}
    <script type="text/javascript">
      $(function(){
	  $('[name$=date]').datepicker();
      });
    </script>
    

  </head>
  <body>
  

 <div id="header">
 <div class="container">
   <div id="menu">
        <ul id="nav">
        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            <a href="#">Stock in</a>    
            <ul id="n1">
            
            <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
                    <a href="#">Donation</a> 
                    <ul id="n11"> 
                        <li><a href="/stocks/donation/">Add</a></li> 
                        <li><a href="/stocks/donation_edit/">Edit</a></li> 
                        <li><a href="/stocks/thank_you_letter/">Thank you letter</a></li>  
                    </ul> 
                </li> 
               
                <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
                    <a href="#">Purchase</a> 
                    <ul id="n12"> 
                        <li><a href="/stocks/purchase/">Order</a></li> 
                        <li><a href="/stocks/order_edit/">Edit</a></li>
			<li><a href="/stocks/purchase_order/">purchase order</a></li>
			<!-- <li><a href="/stocks/confirmation/thanks">Confirm</a></li>  -->

                    </ul> 
                </li> 
                </ul>
        </li> 
        
        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)">
            <a href="#">Stock out</a>    
            <ul id="n2">
            
            <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
                    <a href="#">Distribution</a> 
                    <ul id="n21"> 
                        <li><a href="/stocks/distribution/">Add</a></li> 
                        <li><a href="/stocks/distribute_edit/">Edit</a></li> 
                        
                    </ul> 
                </li> 
               
                <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
                    <a href="#">Transfer-out</a> 
                    <ul id="n22"> 
                        <li><a href="/stocks/transfer/">Add</a></li> 
                        <li><a href="/stocks/transfer_edit/">Edit</a></li> 

                    </ul> 
                </li> 
                </ul>
        </li> 
               
      
        
        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
            <a href="#">Vendor</a>    
            <ul id="n3"> 
                <li><a href="/stocks/vendor_edit/">Update</a></li> 
            </ul> 
        </li> 
        
        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
            <a href="#">Donor</a>    
            <ul id="n4"> 
                <li><a href="/stocks/donor_edit/">Update</a></li>  
            </ul> 
        </li> 
        
        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
            <a href="#">Stock Info</a>    
            <ul id="n5"> 
                <li><a href="/stocks/stock_edit/">Update</a></li>
		<li><a href="/stocks/adjust/">Error Adjust</a></li>
		<li><a href="/stocks/init/">Initialization</a></li>
		<li><a href="/stocks/history/">History</a></li> 
             </ul> 
        </li> 
        
        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
            <a href="#">Summary</a>    
            <ul id="n6"> 
                    <li><a href="/stocks/stock_summary/">Stock</a></li>
		    <li><a href="/stocks/donation_summary/">Donation</a></li>
		    <li><a href="/stocks/purchase_summary/">Purchase</a></li>
		    <li><a href="/stocks/distribution_summary/">Distribution</a></li>
		    <li><a href="/stocks/transfer_out_summary/">Transfer-out</a></li>
		    <li><a href="/stocks/vendor_summary/">Vendor</a></li>
		    <li><a href="/stocks/donor_summary/">Donor</a></li>
		    <li><a href="">Thank you letter</a></li>
            </ul> 
        </li> 
       
	      
        </ul>
     </div>
   
 </div>
 </div>



 <div id="page">
    <div class="container">
    
      <h1>{% block title %}{% endblock %}</h1>
    
    <p>{% block content %}{% endblock %}</p>
    
    </div>
 </div>

 {% block footer %}
 <div id="footer">
 <div  class="container">
   <h5>Copyright  &copy; 2013 D&Liz&MX et al. All rights reserved. | Designed by Derek .</h5>
 </div>
 </div>  
{% endblock %}
  </body>
</html>


