{% extends "base.html" %}

{% block pagetitle %}Distribution Summary{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete_donation.js" %}" type="text/javascript"></script>
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Distribution Summary
{% endblock %}

{% block content %}
<h2>Select Date Range</h2>
<form action="." method="GET">{% csrf_token %}
<div class="header">
{{start_end_date_form.as_ul}}
</div>

<div class="header">
<label for="">Search by family type:  </label>
<input type="text" id="family_type" name="family_type" value=""/>

<label for="">Search by stock name: </label>
<input type="text" id="stock_name" name="stock_name" value=""/>

<label for="">Search by category: </label>
<input type="text" id="category" name="category" value=""/>
</div>


<div id="button"><input class="button" type="submit" value="Search"></div>
</form>

<h2>Distribution</h2>
<div class="item">
<Table id="tableHeader">
      <tr>
      <th>Date</th>
      <th>Stock</th>
      <th>Unit Measure</th>
      <th>Quantity</th>
      <th>Family Type</th>
      <th>Cash Value</th>
      </tr>
</Table>
</div>
{% for distribution in distributions %}
<div class="item">
<Table>
      <tr>
      <th>{{distribution.date}}</th>
      <th>{{distribution.stock.name}}</th>
      <th>{{distribution.stock.unit_measure}}</th>
      <th>{{distribution.quantity}}</th>
      <th>{{distribution.family_type}}</th>
      <th>${{distribution.cash_value}}</th>
      </tr>
</Table>
</div>
{% endfor %}
<form action="/stocks/distribution_report/download/" method="GET">{% csrf_token %}
<input type="hidden" name="start_date" value="{{start_end_date_form.cleaned_data.start_date}}"/>
<input type="hidden" name="end_date" value="{{start_end_date_form.cleaned_data.end_date}}"/>
<input type="hidden" name="family_type" value="{{family_type}}"/>
<input type="hidden" name="stock_name" value="{{stock_name}}"/>
<input type="hidden" name="category" value="{{category}}"/>
<div id="button"><input class="button" type="submit" value="Download"></div>
</form>
{% endblock %}
