{% extends "base.html" %}

{% block pagetitle %}Distribution{% endblock %}

{% block title %}
Distribution
{% endblock %}

{% block content %}

<form action="." method="POST">{% csrf_token %}
<h2>Family Type</h2>
<div class="header">
  {{family_form}}
  {{date_form}}
</div>

<h2>Standard items to be distributed</h2>
{{distribution_formset.management_form}}
<div class="item">
<Table>
  <tr>
  <th>Name</th>
  <th>Unit Measure</th>
  <th>Quantity</th>
  </tr>
</Table>
</div>

<div class="item">
{% for item in zip %}

<Table>
<tr>

<td>{{item.0.name}}</td>
<td>{{item.0.unit_measure}}</td>
<td>{{item.1.as_ul}}</td>
</tr>
</Table>

{% endfor %}
</div>

<div id="button"><input class="button" type="submit" value="Submit"></div>
</form>
 
  
{% endblock %}
