{% extends "base.html" %}

{% block pagetitle %}Distribute Edit{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Distribute Edit
{% endblock %}

{% block content %}
<h2>Filter</h2>
<form action="." method="GET">{% csrf_token %}
<div class="header">
{{start_end_date_form.as_ul}}
</div>

<div class="header">
{{family_form.as_ul}}

<label for="">Search by stock name: </label>
<input type="text" id="stock_name" name="stock_name" value=""/>

<label for="">Search by category: </label>
<input type="text" id="category" name="category" value=""/>
</div>

<input class="button" type="submit" value="Get">
</form>

<h2>Distribute</h2>
<form action="." method="POST">{% csrf_token %}
{{distribute_formset.management_form}}
{% for distribute_form in distribute_formset %}
<div class="item">
{{distribute_form.as_ul}}
</div>
{% endfor %}
<input class="button" type="submit" value="Update">
</form>
{% endblock %}
