{% extends "base.html" %}

{% block pagetitle %}Donation{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete_donation.js" %}" type="text/javascript"></script>
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Donation
{% endblock %}

{% block content %}
  
<form action="." method="POST">{% csrf_token %}

<h2>Donor Info</h2>
<div class="header">
  {{donor_form.as_ul}}
  {{date_form.as_ul}}
</div>

<h2>Donated Stocks</h2>
{{donate_formset.management_form}}
{% for form in donate_formset.forms %}
  <div class="item">
    {{form.as_ul}}
    <li><button type="button" class="rounded button"><a class="delete" href="#">-</a></button></li>
  </div>
{% endfor %}

<p><button type="button" class="rounded button"><a id="add" href="#">+</a></button></p>
<div id="button"><input class="button" type="submit" value="Submit"></div>
  
</form>
{% endblock %}
