{% extends "base.html" %}

{% block pagetitle %}Donor Summary{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete_donation.js" %}" type="text/javascript"></script>
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Donor Summary
{% endblock %}

{% block content %}

<div class="item">
<Table>
      <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact Number</th>
      <th>Mail</th>
      <th>Referral Type</th>
      </tr>
</Table>
</div>
{% for donor in donors %}
<div class="item">
<Table>
      <tr>
      <th>{{donor.name}}</th>
      <th>{{donor.address}}</th>
      <th>{{donor.contact_no}}</th>
      <th>{{donor.mailing}}</th>
      <th>{{donor.referral}}</th>
      </tr>
</Table>
</div>
{% endfor %}
<form action="/stocks/donor_report/download/" method="GET">{% csrf_token %}
<div id="button"><input class="button" type="submit" value="Download"></div>
</form>
{% endblock %}
