{% extends "base.html" %}

{% block pagetitle %}Order Edit{% endblock %}

{% block title %}
Order Edit
{% endblock %}

{% block content %}
<h2>Filter</h2>
<form action="." method="GET">{% csrf_token %}
<div class="header">
{{start_end_date_form.as_ul}}
</div>


<div id="button"><input class="button" type="submit" value="Get"></div>
</form>


<h2>Orders</h2>
<form action="." method="POST">{% csrf_token %}
  
{{order_formset.management_form}}
  
{% for item in zip %}
<div class="item">
{{item.0.as_ul}}
<div class="item">

<table>
    <tr>
      <th>Stock</th>
      <th>Quantity</th>
      <th>Purchase Price</th>
    </tr>
    {% for purchase in item.1 %}
    <tr>
      <td>{{purchase.stock}}</td>
      <td>{{purchase.quantity}}</td>
      <td>${{purchase.price}}</td>
    </tr>
  {% endfor %}
</table>
</div>

</div>
<div id="button"><a href="/stocks/p_edit/{{item.1.0.order.pk}}/">
<input class="button" type="button" value="Edit">
</a></div>
{% endfor %}

<div id="button"><input class="button" type="submit" value="Update"></div>
</form>
{% endblock %}
