{% extends "base.html" %}

{% block pagetitle %}Purchase Edit{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete_purchase.js" %}" type="text/javascript"></script>
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Purchase Edit
{% endblock %}

{% block content %}

<h2>Order</h2>
<form action="." method="POST">{% csrf_token %}
  
{{purchase_formset.management_form}}
<div class="item">
<p>
Date: {{order.date}} Vendor: {{order.vendor}}
</p>
{% for form in purchase_formset %}
<div class="item">
{{form.as_ul}}
</div>
{% endfor %}
</div>
<div id="button"><a href="/stocks/order_edit/">
<input class="button" type="button" value="Back">
</a></div>

<div id="button"><input class="button" type="submit" value="Update"></div>
</form>
{% endblock %}
