{% extends "base.html" %}

{% block pagetitle %}Purchase{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete_purchase.js" %}" type="text/javascript"></script>
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Purchase Order
{% endblock %}

{% block content %}
  
<form action="." method="POST">{% csrf_token %}

<h2>Vendor Info</h2>
<div class="header">
  {{vendor_form.as_ul}}
  {{date_form.as_ul}}
</div>

<h2>Purchased Stocks</h2>
{{purchase_formset.management_form}}
{% for form in purchase_formset.forms %}
  <div class="item">
    {{form.as_ul}}
    <li><button type="button" class="rounded button"><a class="delete" href="#">-</a></button></li>
  </div>
{% endfor %}

<p><button id="add" type="button" class="rounded button"><a  href="#">+</a></button></p>
<div id="button"><input class="button" type="submit" value="Submit"></div>
</form>

{% endblock %}
