<HTML>
<HEAD>
</HEAD>
<BODY>
<CENTER>

{% block content %}

<h2>Purchase Order</h2>
<div class="item">
<p>
Date: {{order.date}} Vendor: {{order.vendor.name}} Address: {{order.vendor.address}} Contact Number: {{order.vendor.contact_no}} Email: {{order.vendor.email}}
</p>
</div>

{% for purchase in purchases %}
<div class="item">
Stock: {{purchase.stock.name}} Unit Measure: {{purchase.stock.unit_measure}} Quantity: {{purchase.quantity}}Cash Value: ${{purchase.cash_value}}
</div>
{% endfor %}

{% endblock %}
</CENTER>
</BODY>
</HTML>  


