<HTML>
<HEAD>
</HEAD>
<BODY>
<CENTER>

{% block content %}

<h2>Thank you letter</h2>
<div class="item">
<p>
Date: {{donation.date}} Vendor: {{donation.donor.name}} Address: {{donation.donor.address}} Contact Number: {{donation.donor.contact_no}} Email: {{donation.donor.email}}
</p>
</div>

{% for donate in donates %}
<div class="item">
Stock: {{donate.stock.name}} Unit Measure: {{donate.stock.unit_measure}} Quantity: {{donate.quantity}}Cash Value: ${{donate.cash_value}}
</div>
{% endfor %}

{% endblock %}
</CENTER>
</BODY>
</HTML>  
