<!DOCTYPE html>
<html>
  <head>
    <title></title> 
  </head>
  
  <body style="font-family:Arial;"><font size="3">
  <p><b></b><br>{{now}}<br>       <!-- insert current date here -->
  SYFR <b>/{{letter_id}} </b>            <!-- insert current date+ID to get a unique id for the letter -->
  </p>
  
  <div >
 <p> <b>{{donation.donor.address}}</b></p>           <!-- insert mailing address here -->
  </div>
  
  <div style="text-align:right">
  <p ><b>By ShanYou </b>  </p>          <!-- ask user to input??? -->    
  </div>
  
  <div>
  <p>Dear <b>{{donation.donor.name}}</b></p>             <!-- insert donor name -->
  <p>On behalf of Shan You Counselling Centre and the programme beneficiaries, I want to extend our heartfelt appreciation for your contribution towards the Food Rations Distribution Service.</p>
  <p>Each month, our Food Rations Distribution Service provides food items to a total of 300                low income families and needy elderly. They are referrals from the Community Development Councils, Family Service Centres, hospitals and other voluntary welfare organizations.</p>
  <p>It is through the support of corporate organizations and individual donors that we are able to continue this service for the beneficiaries. </p>
  <p>We are thankful to receive these items on <b>{{donation.date}}</b>:</p>  <!-- insert donation date here -->
  </div>
 
  <div >
     <Table style="text-align:center;width:90%;">
  	<tr>
  	<th width="50%"><U>Item</U></th>
  	<th width="50%"><U>Quantity</U></th> 
  	</tr>
	
	{% for donate in donates %}
  	<div class="item">

  	<tr>
  	<td>{{donate.stock.name}} {{donate.stock.unit_measure}}</td>
  	<td>{{donate.quantity}}</td>
  	</tr>
	
	</div>
  	{% endfor %}
     </Table>
  </div>
 
  
  <div>
  <p>Should you have any enquiry, please contact me at 6745 9216/ 9111 6377 (Mobile) or visit our website at www.shanyou.org.sg for monthly updates on our Food Rations Distribution Service.</p>
  <p>Thank you once again for making our mission a reality and we look forward to your continuing support.</p>
  </div>
  
  <div style="float:left;margin-top:5%;">
  Elaine Choo<br>
  Programme Executive<br>
  Social Service Team (Food Rations)<br>
  </div>

  </font>
  </body>
</html>


