{% extends "base.html" %}

{% block pagetitle %}Transfer Out Summary{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete_donation.js" %}" type="text/javascript"></script>
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Transfer Out Summary
{% endblock %}

{% block content %}
<h2>Select Date Range</h2>
<form action="." method="GET">{% csrf_token %}
<div class="header">
{{start_end_date_form.as_ul}}
</div>

<div class="header">
<label for="">Search by destination:  </label>
<input type="text" id="destination" name="destination" value=""/>

<label for="">Search by stock name: </label>
<input type="text" id="stock_name" name="stock_name" value=""/>

<label for="">Search by category: </label>
<input type="text" id="category" name="category" value=""/>
</div>


<div id="button"><input class="button" type="submit" value="Get"></div>
</form>

<h2>Transfer Out</h2>
<div class="item">
<Table id="tableHeader">
      <tr>
      <th>Date</th>
      <th>Stock</th>
      <th>Unit Measure</th>
      <th>Quantity</th>
      <th>Destination</th>
      <th>Cash Value</th>
      </tr>
</Table>
</div>
{% for transfer in transfers %}
<div class="item">
<Table>
      <tr>
      <th>{{transfer.date}}</th>
      <th>{{transfer.stock.name}}</th>
      <th>{{transfer.stock.unit_measure}}</th>
      <th>{{transfer.quantity}}</th>
      <th>{{transfer.destination.name}}</th>
      <th>${{transfer.cash_value}}</th>
      </tr>
</Table>
</div>
{% endfor %}
<form action="/stocks/transfer_out_report/download/" method="GET">{% csrf_token %}
<input type="hidden" name="start_date" value="{{start_end_date_form.cleaned_data.start_date}}"/>
<input type="hidden" name="end_date" value="{{start_end_date_form.cleaned_data.end_date}}"/>
<input type="hidden" name="destination" value="{{destination}}"/>
<input type="hidden" name="stock_name" value="{{stock_name}}"/>
<input type="hidden" name="category" value="{{category}}"/>
<div id="button"><input class="button" type="submit" value="Download"></div>
</form>
{% endblock %}
