{% extends "base.html" %}

{% block pagetitle %}Transfer{% endblock %}

{% block autocomplete %}
  {% load static %}
  <script src="{% static "js/autocomplete_destination.js" %}" type="text/javascript"></script>
  <script src="{% static "js/autocomplete.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Transfer
{% endblock %}

{% block content %}

<form action="." method="POST">{% csrf_token %}

<h2>Destination Info</h2>
<div class="header">
{{destination_form.as_ul}}
{{date_form}}
</div>

<h2>Items to be transferred</h2>
{{transfer_formset.management_form}}
{% for form in transfer_formset %}
<div class="item">
{{form.as_ul}}
<li><button type="button" class="rounded button"><a class="delete" href="#">-</a></button></li>
</div>
{% endfor %}

<p><button type="button" class="rounded button"><a id="add" href="#">+</a></button></p>
<div id="button"><input class="button" type="submit" value="Submit"></div>
  
</form>
 
  
{% endblock %}
