{% extends "base.html" %}

{% block pagetitle %}Transfer{% endblock %}

{% block autocomplete %}
<script type="text/javascript">
$(function() {
  $("#id_name").autocomplete({
    source: "/stocks/transfer/",
    minLength: 2,
  });
});
</script>
{% endblock %}

{% block title %}
Transfer
{% endblock %}

{% block content %}

<form action="." method="POST">{% csrf_token %}

<h2>Destination Info</h2>
<div class="header">
<div class="ui-widget">
  <label for="id_name">Organisation Name:</label>
  {{destination_form.name}}
</div>
<label for="id_person_in_charge">Person in charge:</label>
{{destination_form.person_in_charge}}
<label for="id_contact_no">Contact No.:</label>
{{destination_form.contact_no}}
{{date_form}}
</div>

<h2>Items to be transferred</h2>
{{transfer_formset.management_form}}
{% for form in transfer_formset %}
<div class="item">
<label for="id_stock_name">Name:</label>
{{form.stock_name}}
<label for="id_unit_measure">Unit Measure:</label>
{{form.unit_measure}}
<label for="id_quantity">Quantity:</label>
{{form.quantity}}
<li><button type="button" class="rounded button"><a class="delete" href="#">-</a></button></li>
</div>
{% endfor %}

<p><button type="button" class="rounded button"><a id="add" href="#">+</a></button></p>
<input class="button" type="submit" value="Submit">
  
</form>
 
  
{% endblock %}
