body {
    margin: 0px;
    padding: 0px;
    background: #F6F4F3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #4E4D4D;
}
h1{
	font-size: 30pt;
    margin: 20px 0px 0px 0px;
    padding: 0;
    text-align:center;
}

h2,
h3 {
    margin: 20px 0px 0px 0px;
    padding: 0;
    text-align:left;
}
h5{
	text-align:center;
}

p,
ul {
    margin-top: 0
}

ul {
    padding: 0;
    list-style: none;
}
p {
    line-height: 180%
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #b5bd68;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

li {
    display: inline-block;
}

.item, .header {
    background: #fff;
    box-shadow: 1px 1px 1px 1px #bec3c2;
    padding: 7px;
}

#header {
  background: #3f3f3f;/*header全屏背景色设置*/
  color: #fff;
  margin-bottom: 0px; /*顶部与主内容垂直间距，可自行修改*/
  width:1349px;
}

.main-content {
  float: right;/*主内容居右*/
}

#footer {
  background: #3f3f3f;/*footer全屏背景色设置*/
  color: #fff;
  margin-bottom:0px;
  text-align: center;
  width:1349px;
}


.main-content {
  background-color: #F2F2E6;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#footer .container {
  margin-top: 25%;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/
.button a {
    color: #fff;
   
}

.button a:hover {
    color: #b5bd68;
  
}

.button {
    display: inline-block;
    margin: 1em 0em;
    padding: 1em 3em 1em 3em;
    background: #3f3f3f;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}


.rounded {
    margin: 5px;
    padding: 0 0 2px 0;
    letter-spacing: 0;
    height: 20px;
    width: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: 900;
}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
#menu ul {
    margin: 0;
    list-style: none;
    line-height: normal;
    text-align: center;
    position:relative;
}
#menu li {
    display: inline-block;
}
#menu a {
    display: block;
    padding: 2.5em 2em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #FFF;
}
#menu a:hover {
    color: #b5bd68;
}

#nav ul {
    background: #ffffff; /* Adding a background makes the dropdown work properly in IE7+. */
    list-style: none;
    text-align: left;
    top: 100px;
    position: absolute;
    left: -9999px; /*Hide off-screen when not needed */
}
#nav ul li {
    padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float: none;
    width: 160px;
    display: list-item;
}
#nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li{
	position:relative;
	text-align:center; 
}

#nav li:hover ul {
    box-shadow: 1px 1px 1px 1px #bec3c2
}
#nav li:hover #n1 {
    /* Display the dropdown on hover */
    postion:absolute;
    left: -10px; /* Bring back on-screen when needed */
}
#nav li:hover #n2 {

    left:0px;
}
#nav li:hover #n3 {

    left: -7px;
}
#nav li:hover #n4 {

    left: -7px;
}
#nav li:hover #n5 {
    left: 17px;
}

#nav li:hover #n6 {
    left: 1px;
}


#nav li ul li:hover #n11 {
	top:10px;
    left: 160px;
}

#nav li ul li:hover #n12 {
	top:10px;
    left: 160px;
}

#nav li ul li:hover #n21 {
    top:10px;
    left: 160px;
}

#nav li ul li:hover #n22 {
    top:10px;
    left: 160px;
}


#nav li:hover a {
    /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    color: #b5bd68;
}

#nav li ul li a:hover  {
	background:#3f3f3f;
}
#nav li ul li ul li  a:hover{
	background:#3f3f3f;
}



#nav li:hover ul a {
    /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
    font-size: 15px;
    margin: 0;
    padding: 13px 20px 12px 6px;
    border: none;
}
#nav li:hover ul li a:hover {
    /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background: #EAEAEA;
    padding: 13px 20px 12px 10px;
    
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/
#page {
	
    overflow: hidden;
    padding: 3em 0em 0em 0em;
    border-top: 1px solid #E5E5E5;
    align:center;
    width:1349px;

}

.ui-widget {
    display:inline;
}